/*
TODO:
organize max height so it fit at a 100vh 
verify how it should work on multiple devices
vh can break on new iphones
*/

section {
  margin-block-end: 1.5rem;

  .card {
    &__list {
      --min: 35ch;
      --gap: 1rem;

      display: grid;
      gap: var(--gap);
      /* min() with 100% prevents overflow
in extra narrow spaces */
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--min)), 1fr)
      );
    }
  }
}
