<div *ngIf="pokemon$ | async as pokemon">
	<app-pokemon-entry
		[pokemon]="pokemon?.baseInfo"
		[withLink]="false"
		[imageWidth]="488"
		[imageHeight]="488"
	></app-pokemon-entry>
	<app-pokemon-ability-info
		[info]="pokemon?.abilityInfo"
	></app-pokemon-ability-info>
	<app-pokemon-stats [stats]="pokemon?.stats"></app-pokemon-stats>
	<app-pokemon-types [types]="pokemon?.types"></app-pokemon-types>
	<app-pokemon-description
		[descriptions]="pokemon?.descriptions"
	></app-pokemon-description>
</div>
